<div class="container-fluid h-100">
    
    <div class="row h-50 mt-1">    
        
        <!-- Section 1.1 -->
        <div class="col-12 col-xl-5 h-100 mb-1">
            <div class="card h-100">
                <div class="card-body h-100" style="overflow:auto">                    
                        <h6 class="card-title text-primary">Transactions By Date</h6>
                        <div class="row align-items-center" [formGroup]="dashboardForm">
                                <div class="form-group col-12 col-sm-2 ">  
                                    <label for="from" class="bmd-label-static">From </label>
                                    <input type="text" class="form-control form-control-sm" id="from" formControlName="dateFrom" placeholder="dd.mm.yyyy">
                                    <span *ngIf="dashboardForm.get('dateFrom').dirty && dashboardForm.get('dateFrom').errors?.invalidDate">
                                        <p class="text-danger">Invalid Date</p>
                                    </span>
                                </div>
                                <div class="form-group col-12 col-sm-2">  
                                    <label for="from" class="bmd-label-static">To </label>
                                    <input type="text" class="form-control form-control-sm" id="from" formControlName="dateTo" placeholder="dd.mm.yyyy">
                                    <span *ngIf="dashboardForm.get('dateTo').dirty && dashboardForm.get('dateTo').errors?.invalidDate">
                                        <p class="text-danger">Invalid Date</p>
                                    </span>
                                </div>
                                    <div class="col-6 col-sm-1">
                                        <button type="submit" class="btn btn-outline-primary btn-sm"(click)="FetchTransactionForRange()">Show</button>
                                    </div>      
                            </div>
                    
                    <table class="table table-sm table-responsive table-striped table-bordered">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Payed</th>
                                <th>Method</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let transaction of lastTenTransactions">
                            <tr>
                                <td>{{transaction.date}}</td>
                                <td>{{transaction.category}}</td>
                                <td>{{transaction.amount}}</td>
                                <td>{{transaction.payedTo}}</td>
                                <td>{{transaction.transactionType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>                
        
        <!-- Section 1.2 -->
        <div class="col-12 col-xl-5 h-100 mb-1">
                <div class="card h-100">
                    <div class="card-body h-100" style="overflow:auto">
                        <h6 class="card-title text-primary">Pie Chart Representation</h6>
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-2">
                                    <label class="form-label bmd-label-static">Month</label>
                                    <select class="form-control form-control-xs" #selectedMonth>
                                        <option *ngFor="let month of months">{{month.value}}</option>
                                    </select>              
                                </div>
                                <div class="col-12 col-sm-2">
                                    <label class="form-label bmd-label-static">Years</label>
                                    <select class="form-control form-control-xs" #selectedYear >
                                        <option *ngFor="let year of years">{{year}}</option>
                                    </select>              
                                </div>
                                <div class="col-12 col-sm-1">
                                    <button type="submit" class="btn btn-outline-primary btn-sm" (click)="UpdatePieChartForExpenses(selectedMonth.value,selectedYear.value)">Submit</button>
                                </div> 
                        </div>
                        <div class="col-12">
                            <pie-chart [data]="pieChart"></pie-chart>
                        </div>
                    </div>
                </div>        
        </div>

    </div>    
</div>