<div class="container-fluid p-1" style="height:90%;width:98%">
    
    <div class="row h-100">
         <div class="col-12 col-lg-5 h-100 mb-sm-2 mt-1">
            <div class="card h-100">
                <div class="card-body h-100" style="overflow:auto">                    
                        <h6 class="card-title text-primary">Transactions By Date</h6>
                        <div class="row align-items-center" [formGroup]="dashboardForm">
                                <div class="form-group col-12 col-sm-3">  
                                    <label for="from" class="bmd-label-static">From </label>
                                    <input type="text" class="form-control form-control-sm" id="from" formControlName="dateFrom" placeholder="dd.mm.yyyy">
                                    <span *ngIf="dashboardForm.get('dateFrom').dirty && dashboardForm.get('dateFrom').errors?.invalidDate">
                                        <p class="text-danger">Invalid Date</p>
                                    </span>
                                </div>
                                <div class="form-group col-12 col-sm-3">  
                                    <label for="from" class="bmd-label-static">To </label>
                                    <input type="text" class="form-control form-control-sm" id="from" formControlName="dateTo" placeholder="dd.mm.yyyy">
                                    <span *ngIf="dashboardForm.get('dateTo').dirty && dashboardForm.get('dateTo').errors?.invalidDate">
                                        <p class="text-danger">Invalid Date</p>
                                    </span>
                                </div>
                                <div class="col-6 col-sm-1">
                                    <button type="submit" class="btn btn-outline-primary btn-sm"(click)="displayTransactionsByDateRange()">Show</button>
                                </div>      
                        </div>
                    
                    <table class="table  table-bordered">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Payed</th>
                                <th>Method</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let transaction of transactionsByDateRange">
                            <tr>
                                <td>{{transaction.date}}</td>
                                <td>{{transaction.category}}</td>
                                <td>{{transaction.amount}}</td>
                                <td>{{transaction.payedTo}}</td>
                                <td>{{transaction.transactionType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>                        
       
        <div class="col-12 col-lg-5 h-100 mb-sm-2 mt-1">
                <div class="h-50">
                    <div class="card">
                                <div class="card-body h-100" style="overflow:auto">
                                    <h6 class="card-title text-primary">Bar Chart </h6>
                                    <div class="row align-items-center">
                                        <div class="form-group col-12 col-sm-3">
                                            <label class="form-label bmd-label-static">From Year </label>
                                            <select class="form-control form-control-xs" #selectedFromYear>
                                                    <option *ngFor="let year of years">{{year}}</option>
                                            </select>              
                                        </div>
                                        <div class="form-group col-12 col-sm-2">
                                            <label class="form-label bmd-label-static">To Year</label>
                                            <select class="form-control form-control-xs" #selectedToYear >
                                                <option *ngFor="let year of years">{{year}}</option>
                                            </select>              
                                        </div> 
                                        <div class="form-group col-12 col-sm-3">
                                            <label class="form-label bmd-label-static">Filter</label>
                                            <select class="form-control form-control-xs" #selectedFilterType >
                                                <option *ngFor="let filter of filters">{{filter}}</option>
                                            </select>              
                                        </div>
                                        <div class="form-group col-12 col-sm-1">
                                            <button type="submit" class="btn btn-outline-primary btn-sm" (click)="updateBarChart(selectedFromYear.value,selectedToYear.value,selectedFilterType.value)">Show</button>
                                        </div> 
                                    </div>
                                    <bar-chart [data]="barchart"></bar-chart>
                                </div>
                            </div>
                </div>
                <div class="h-50">
                    <div class="card mt-2 mt-lg-1">
                        <div class="card-body h-100" style="overflow:auto">
                            <h6 class="card-title text-primary">Pie Chart</h6>
                            <div class="row align-items-center">
                                    <div class="form-group col-12 col-sm-3">
                                            <label class="form-label bmd-label-static">Month</label>
                                            <select class="form-control form-control-xs" #selectedMonth>
                                                <option *ngFor="let month of months">{{month.value}}</option>
                                            </select>              
                                        </div>
                                        <div class="form-group col-12 col-sm-2">
                                            <label class="form-label bmd-label-static">Years</label>
                                            <select class="form-control form-control-xs" #selectedYear >
                                                <option *ngFor="let year of years">{{year}}</option>
                                            </select>              
                                        </div>
                                        <div class="form-group col-12 col-sm-3">
                                                <label class="form-label bmd-label-static">Filter</label>
                                                <select class="form-control form-control-xs" #selectedFilter >
                                                    <option *ngFor="let filter of filters">{{filter}}</option>
                                                </select>              
                                        </div>
        
                                        <div class="form-group col-12 col-sm-1">
                                            <button type="submit" class="btn btn-outline-primary btn-sm" (click)="updatePieChartForExpenses(selectedMonth.value,selectedYear.value,selectedFilter.value)">Show</button>
                                        </div> 
                                </div>
                                <div class="col-12 mt-3">
                                    <pie-chart [data]="pieChart"></pie-chart>
                                </div>
                        </div>
                    </div>
                </div>                      
        </div>
    </div>
</div>    

   


