<div class="card" style="width: 50rem;">
   
    <div class="card-body">
        <h1 class="card-title">Transaction</h1>
        
        <form [formGroup]="transactionForm">
            
            <div class="form-group">
              <label for="date">Date </label>
              <input type="input" class="form-control" id="date" name="date" formControlName="date" placeholder="dd.mm.yyyy"/>                
                <div *ngIf="transactionForm.get('date').dirty && transactionForm.get('date').errors?.required">
                    <p class="text-danger">This is a required field</p>
                </div>  
                <div *ngIf="transactionForm.get('date').dirty && transactionForm.get('date').errors?.invalidDate">
                    <p class="text-danger">Invalid Date Fromat. Format must be (dd.mm.yyyy)</p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="payedTo">Payed To</label>
                <input type="text" class="form-control" id="payedTo" formControlName="payedTo"/>
                    <div *ngIf="transactionForm.get('payedTo').dirty && transactionForm.get('payedTo').errors?.required">
                        <p class="text-danger">This is a required field</p>
                    </div>
            </div>          

            <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" formControlName="selectedCategory">
                        <option *ngFor="let category of categoryCollection" [value]="category.id">{{category.name}}</option>                                              
                    </select>
                    <div *ngIf="transactionForm.get('selectedCategory').dirty && transactionForm.get('selectedCategory').errors?.required">
                            <p class="text-danger">This is a required field</p>
                    </div>
                </div>
            
            <div class="row">   
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="amount">Amount ($)</label>
                        <input type="text" class="form-control" id="amount" formControlName="amount"/>
                        <div *ngIf="transactionForm.get('amount').dirty && transactionForm.get('amount').errors?.required">
                            <p class="text-danger">This is a required field</p>
                        </div>
                    </div>                        
                </div>            
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="paymentMethod">Payment Method</label>
                        <select class="form-control" id="paymentMethod" formControlName="selectedpaymentMethod" required >
                            <option *ngFor="let paymentMethod of paymentMethodCollection" [value]="paymentMethod.id" >{{paymentMethod.name}}</option>
                        </select>
                        <div *ngIf="transactionForm.get('selectedpaymentMethod').dirty && transactionForm.get('selectedpaymentMethod').errors?.required">
                            <p class="text-danger">This is a required field</p>
                        </div>
                    </div>                       
                </div>                        
            </div>
            

            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea class="form-control" id="comments" rows="3" formControlName="comments"></textarea>              
            </div>

            <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!transactionForm.valid" (click)="createNewTransaction()">Create</button>
        </form>

            
                 
  
</div>